{% extends "header.html"%}
{% block title %}Home Page{% endblock %}
{% block content %}
    {% if getP %}
        
    <div class="container">
        <div class="col-g-12">
            <h1 class="page-header"> Scegli un tuo portafoglio</h1>
        </div>
        <div class="row">
            <hr>
            {% for p in getP %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a style="text-align: center;" href="/home/portafoglio/{{ p.idPortafoglio }}" > {{ p.dataInserimento }} </a>
            </div>
            {% endfor %}
        </div>

    </div>
        
    {% else %}
        <h1> Crea un nuovo portafoglio</h1>
    {% endif %}
    <form action="/home/addPortafoglio" method="post" enctype="multipart/form-data">
        <input type="file" name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <input type="submit" value="Upload">
    </form>
{% endblock %}

