{% extends "header.html"%}
{% block title %}Trattative{% endblock %}
{% block content %}

<style>
  .hiddenRow {
    padding: 0 !important;
  }
</style>

<div class="page-holder bg-gray-100">
  <div class="container-fluid px-lg-4 px-xl-5">
    <!-- Page Header-->
    <div class="page-header">
      <h1 class="page-heading">Dashboard</h1>
    </div>
    <section class="mb-3 mb-lg-5">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-heading">Trattative</h5>
        </div>
        <div class="card-body text-muted">
          <!--<table class="table table-striped text-sm text-gray-700 mb-0" id="ordersDatatable">
                        <thead>
                            <tr>
                                <th style="width: 40.9338%;">Ragione Sociale</th>
                                <th style="width: 14.7666%;">codiceCtrDigitali</th>
                                <th style="width: 12.1607%;">Fase</th>
                                <th style="width: 16.3952%;">Probabilità</th>
                                <th style="width: 15.7438%;">dataChiusura</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range (0, t_len) %}
                            <tr class="align-middle" data-bs-toggle="collapse" data-bs-target="#demo{{i}}" class="accordion-toggle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="pt-1"><strong>{{trattative[i][0]}}</strong>
                                        </div>
                                    </div>
                                </td>
                                <td> <strong>{{trattative[i][0]}}</strong></td>
                                <td><span class="badge badge-success-light"> <span
                                            class="indicator"></span>{{trattative[i][0]}}</span></td>
                                <td style="min-width: 125px;">
                                    <div class="d-flex align-items-center"><span class="me-2">{{trattative[i][0]}}%</span>
                                        <div class="progress progress-table">
                                            <div class="progress-bar bg-undefined" role="progressbar"
                                                aria-valuenow="{{trattative[i][0]}}" aria-valuemin="0" aria-valuemax="100"
                                                style="width:{{trattative[i][0]}}%"> </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="max-width: 120px">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="me-3">{{trattative[i][0]}}</span>
                                        <div>
                                            <button class="btn-header-more" type="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><i
                                                    class="fas fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dropdown-menu-end text-sm">
                                                <a class="dropdown-item" href="#!"><i
                                                        class="fas fa-expand-arrows-alt opacity-5 me-2"></i>Expand</a><a
                                                    class="dropdown-item" href="#!"><i
                                                        class="far fa-edit opacity-5 me-2"></i>Edit</a><a
                                                    class="dropdown-item" href="#!"><i
                                                        class="far fa-trash-alt opacity-5 me-2"></i>
                                                    Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6" class="hiddenRow">
                                  <div class="accordian-body collapse" id="demo{{i}}">
                                    <div class="px-4 mt-4" id="modifica">
                                
                                      <div class="card mb-4">
                                        <div class="card-body">
                                          <form action="/portafoglio/modifyTrattativa/{{trattative[i][0]}}" method="POST">
                                            <input type="hidden" name="idClienteModify" id="idCliente" value="">
                                         
                                            <div class="mb-3">
                                              <label class="small mb-1" for="inputUsername">codiceCtrDigitali</label>
                                              <input class="form-control" name="codiceCtrDigitaliModify" id="inputUsername" type="text"
                                                placeholder="Enter your username" value="{{trattative[i][3]}}">
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-6">
                                                <label class="small mb-1" for="inputFirstName">codiceSalesHub</label>
                                                <input class="form-control" name="codiceSalesHubModify" id="inputFirstName" type="text"
                                                  placeholder="Enter your first name" value="{{trattative[i][4]}}">
                                              </div>
                                              <div class="col-md-6">
                                                <label class="small mb-1" for="inputLastName">zona</label>
                                                <input class="form-control" name="zonaModify" id="inputLastName" type="text"
                                                  placeholder="Enter your last name" value="{{trattative[i][6]}}">
                                              </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-6">
                                                <label class="small mb-1" for="inputFirstName">areaManager</label>
                                                <input class="form-control" name="areaManagerModify" id="inputFirstName" type="text"
                                                  placeholder="Enter your first name" value="{{trattative[i][5]}}">
                                              </div>
                                              <div class="col-md-6">
                                                <label class="small mb-1" for="inputLastName">nomeOpportunita</label>
                                                <input class="form-control" name="nomeOpportunitaModify" id="inputLastName" type="text"
                                                  placeholder="Enter your last name" value="{{trattative[i][8]}}">
                                              </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-6">
                                                <label class="small mb-1" for="inputOrgName">tipo</label>
                                                <input class="form-control" name="tipoModify" id="inputOrgName" type="text"
                                                  placeholder="Enter your organization name" value="{{trattative[i][7]}}">
                                              </div>
                                              <div class="col-md-3">
                                                <label class="small mb-1" for="inputLocation">dataCreazioneOpportunita</label>
                                                <input class="form-control" name="dataCreazioneOpportunitaModify" id="inputLocation"
                                                  type="date" placeholder="Enter your location" value="{{trattative[i][9]}}">
                                              </div>
                                              <div class="col-md-3">
                                                <label class="small mb-1" for="inputLocation">fix</label>
                                                <input class="form-control" name="fixModify" id="inputLocation" type="text"
                                                  placeholder="Enter your location" value="{{trattative[i][10]}}">
                                              </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputPhone">mobile</label>
                                                <input class="form-control" name="mobileModify" id="inputPhone" type="tel"
                                                  placeholder="Enter your phone number" value="{{trattative[i][11]}}">
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">categoriaOffertaIT</label>
                                                <input class="form-control" name="categoriaOffertaITModify"
                                                  id="categoriaOffertaITModify" type="hidden" name="birthday"
                                                  placeholder="Enter your birthday" value="">
                
                                                <select class="form-select" aria-label="Default select example" id="categoriaOptions"
                                                  onchange="setCategoria()">
                                                  <option value="{% if trattative[i][12] %} {{trattative[i][12]}} {%endif%}" selected>
                                                    {% if trattative[i][12] %} {{trattative[i][12]}}{%endif%}</option>
                                                  {% for c in categorie %}
                                                  <option value="{{c.idCategoria}}">{{c.nome}}</option>
                                                  {% endfor %}
                
                                                </select>
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">it</label>
                                                <input class="form-control" name="itModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][13]}}">
                                              </div>
                
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputPhone">lineeFoniaFixModify</label>
                                                <input class="form-control" name="lineeFoniaFixModify" id="inputPhone" type="tel"
                                                  placeholder="Enter your phone number" value="{{trattative[i][14]}}">
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">aom</label>
                                                <input class="form-control" name="aomModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][15]}}">
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">mnp</label>
                                                <input class="form-control" name="mnpModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][16]}}">
                                              </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputPhone">al</label>
                                                <input class="form-control" name="alModify" id="inputPhone" type="tel"
                                                  placeholder="Enter your phone number" value="{{trattative[i][17]}}">
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">dataChiusura</label>
                                                <input class="form-control" name="dataChiusuraModify" id="inputBirthday" type="date"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][18]}}">
                                              </div>
                                              <div class="col-md-4">
                                                <label class="small mb-1" for="inputBirthday">noteSpecialista</label>
                                                <input class="form-control" name="noteSpecialistaModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][20]}}">
                                              </div>
                                            </div>
                                            <div class="row gx-3 mb-3">
                                              <div class="col-md-3">
                                                <input type="hidden" name="faseModify" id="faseModify">
                                                <label class="small mb-1" for="inputPhone">fase</label>
                                                <select class="form-select" aria-label="Default select example" id="faseOptions"
                                                  onchange="setFase()">
                                                  <option value="{% if trattative[i][19] %} {{trattative[i][19]}} {%endif%}" selected>
                                                    {% if trattative[i][19] %} {{trattative[i][19]}}{%endif%}</option>
                                                  {% for a in andamento %}
                
                                                  <option value="{{a.idAndamento}}">{{a.nome}}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                              <div class="col-md-3">
                                                <label class="small mb-1" for="inputBirthday">probabilita</label>
                                                <input class="form-control" name="probabilitaModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][21]}}%">
                                              </div>
                                              <div class="col-md-3">
                                                <label class="small mb-1" for="inputBirthday">inPaf</label>
                                                <input class="form-control" name="inPafModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][22]}}">
                                              </div>
                                              <div class="col-md-3">
                                                <label class="small mb-1" for="inputBirthday">fornitore</label>
                                                <input class="form-control" name="fornitoreModify" id="inputBirthday" type="text"
                                                  name="birthday" placeholder="Enter your birthday" value="{{trattative[i][24]}}">
                                              </div>
                                            </div>
                
                                            <button class="btn btn-primary" type="submit">Salva le modifiche</button>
                                            <button class="btn btn-danger" onclick="sendData({{trattative[i].idTrattativa}})"
                                              type="button" style="float: right;">CIao</button>
                                          </form>
                                          {%if trattative[i][25] %}
                                          <h5 class="page-heading">Appuntamenti assocciati</h5>
                                          <div class="card-body text-muted">
                                            <table class="table table-striped text-sm text-gray-700 mb-0" id="ordersDatatable">
                                              <thead>
                                                <tr>
                                                  <th data-sortable="" style="width: 60%;"><a href="#"
                                                      class="dataTable-sorter">Titolo</a></th>
                                                  <th data-sortable="" style="width: 40%;"><a href="#" class="dataTable-sorter">Data</a>
                                                  </th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for appuntamento in trattative[i][25] %}
                                                <tr class="align-middle">
                                                  <td>
                                                    <div class="d-flex align-items-center">
                                                      <div class="pt-1"><strong>{{appuntamento.titolo}}</strong>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td> <strong>{{appuntamento.dataApp}}</strong></td>
                                                </tr>
                                                {%endfor%}
                                              </tbody>
                                            </table>
                                          </div>
                                          {%endif%}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                            {%endfor%}
                        </tbody>
                    </table>-->
          <div class="row">

            <div class="container px-4 mt-4">
              <table class="table table-condensed" style="border-collapse:collapse;">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Andamento</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>

                  {% for i in range (0, t_len) %}
                  <tr data-bs-toggle="modal" data-bs-target="#staticBackdrop{{i}}">
                    <td>{{trattative[i][8]}}</td>
                    <td>{{trattative[i][25]}}</td>
                    <td>{{trattative[i][18]}}</td>
                  </tr>
                  <div class="modal fade" id="staticBackdrop{{i}}" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{trattative[i][8]}}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/portafoglio/modifyTrattativa/{{trattative[i][0]}}" method="POST">
                          <div class="modal-body">
                            <div id="modifica">
                              <!-- Account details card-->
                              <div class="row mb-4">
                                <!--<div class="card-header">Modifica</div>-->
                                <div class="card-body">

                                  <input type="hidden" name="idClienteModify" id="idCliente"
                                    value="{{trattative[i][2]}}">
                                  <!-- Form Group (username)-->
                                  <div class="row gx-3 mb-3">
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputUsername">codiceCtrDigitali</label>
                                      <input class="form-control" name="codiceCtrDigitaliModify" id="inputUsername"
                                        type="text" placeholder="Enter your username" value="{{trattative[i][3]}}">
                                    </div>
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputFirstName">codiceSalesHub</label>
                                      <input class="form-control" name="codiceSalesHubModify" id="inputFirstName"
                                        type="text" placeholder="Enter your first name" value="{{trattative[i][4]}}">
                                    </div>
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputLastName">zona</label>
                                      <input class="form-control" name="zonaModify" id="inputLastName" type="text"
                                        placeholder="Enter your last name" value="{{trattative[i][6]}}">
                                    </div>


                                  </div>
                                  <!-- Form Row-->
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                      <label class="small mb-1" for="inputLastName">nomeOpportunita</label>
                                      <input class="form-control" name="nomeOpportunitaModify" id="inputLastName"
                                        type="text" placeholder="Enter your last name" value="{{trattative[i][8]}}">
      
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                      <label class="small mb-1" for="inputOrgName">tipo</label>
                                      <input class="form-control" name="tipoModify" id="inputOrgName" type="text"
                                        placeholder="Enter your organization name" value="{{trattative[i][7]}}">

                                    </div>
                                  </div>
                                  <!-- Form Row        -->
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
      
                                        <label class="small mb-1" for="inputFirstName">areaManager</label>
                                        <input class="form-control" name="areaManagerModify" id="inputFirstName"
                                          type="text" placeholder="Enter your first name" value="{{trattative[i][5]}}">
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputLocation">dataCreazioneOpportunita</label>
                                      <input class="form-control" name="dataCreazioneOpportunitaModify"
                                        id="inputLocation" type="date" placeholder="Enter your location"
                                        value="{{trattative[i][9]}}">
                                    </div>
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputBirthday">dataChiusura</label>
                                      <input class="form-control" name="dataChiusuraModify" id="inputBirthday"
                                        type="date" name="birthday" placeholder="Enter your birthday"
                                        value="{{trattative[i][18]}}">
                                    </div>
                                  </div>
                                  <!-- Form Row-->
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-3">

                                      <label class="small mb-1" for="inputPhone">fase</label>
                                      <select class="form-select" name="faseModify" aria-label="Default select example"
                                        id="faseOptions">
                                        <option value="{% if trattative[i][19] %}{{trattative[i][19]}}{%endif%}"
                                          selected>
                                          {% if trattative[i][25] %} {{trattative[i][25]}}{%endif%}</option>
                                        {% for a in andamento %}

                                        <option value="{{a.idAndamento}}">{{a.nome}}</option>
                                        {% endfor %}
                                      </select>

                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputBirthday">categoriaOffertaIT</label>
                                      <select class="form-select" aria-label="Default select example"
                                        id="categoriaOptions" name="categoriaOffertaITModify">
                                        <option value="{% if trattative[i][12] %}{{trattative[i][12]}}{%endif%}"
                                          selected>
                                          {% if trattative[i][12] %}{{trattative[i][26]}}{%endif%}</option>
                                        {% for c in categorie %}
                                        <option value="{{c.idCategoria}}">{{c.nome}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputBirthday">probabilita</label>
                                      <input class="form-control" name="probabilitaModify" id="inputBirthday"
                                        type="text" name="birthday" placeholder="Enter your birthday"
                                        value="{{trattative[i][21]}}%">
                                    </div>
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputBirthday">inPaf</label>
                                      <input class="form-control" name="inPafModify" id="inputBirthday" type="text"
                                        name="birthday" placeholder="Enter your birthday" value="{{trattative[i][22]}}">
                                    </div>

                                  </div>

                                  
                                  <!-- Form Row-->
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputLocation">fix</label>
                                      <input class="form-control" name="fixModify" id="inputLocation" type="number"
                                        placeholder="Enter your location" value="{{trattative[i][10]}}">

                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputPhone">mobile</label>
                                      <input class="form-control" name="mobileModify" id="inputPhone" type="number"
                                        placeholder="Enter your phone number" value="{{trattative[i][11]}}">
                                      
                                    </div>
                                    <div class="col-md-4">
                                      <label class="small mb-1" for="inputBirthday">it</label>
                                      <input class="form-control" name="itModify" id="inputBirthday" type="text"
                                        name="birthday" placeholder="Enter your birthday" value="{{trattative[i][13]}}">

                                    </div>
                                  </div>
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputPhone">al</label>
                                      <input class="form-control" name="alModify" id="inputPhone" type="tel"
                                        placeholder="Enter your phone number" value="{{trattative[i][17]}}">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-3">

                                        <label class="small mb-1" for="inputBirthday">aom</label>
                                        <input class="form-control" name="aomModify" id="inputBirthday" type="text"
                                          name="birthday" placeholder="Enter your birthday" value="{{trattative[i][15]}}">
                                      
                                    </div>
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputBirthday">mnp</label>
                                      <input class="form-control" name="mnpModify" id="inputBirthday" type="text"
                                        name="birthday" placeholder="Enter your birthday" value="{{trattative[i][16]}}">
                                    </div>
                                    <div class="col-md-3">
                                      <label class="small mb-1" for="inputPhone">lineeFoniaFixModify</label>
                                      <input class="form-control" name="lineeFoniaFixModify" id="inputPhone" type="tel"
                                        placeholder="Enter your phone number" value="{{trattative[i][14]}}">
                                    </div>
                                  </div>
                                  <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->

                                    <div class="col-md-6">
                                      <label class="small mb-1" for="inputBirthday">fornitore</label>
                                      <input class="form-control" name="fornitoreModify" id="inputBirthday" type="text"
                                        name="birthday" placeholder="Enter your birthday" value="{{trattative[i][24]}}">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                                             
                                      <label class="small mb-1" for="inputBirthday">noteSpecialista</label>
                                      <input class="form-control" name="noteSpecialistaModify" id="inputBirthday"
                                        type="text" name="birthday" placeholder="Enter your birthday"
                                        value="{{trattative[i][20]}}">             
  
                                    </div>

                                   
                                  </div>

                                  <!-- Save changes button-->


                                  <!--{%if trattative[i][25] %}
                                <h5 class="page-heading">Appuntamenti assocciati</h5>
                                <div class="card-body text-muted">
                                  <table class="table table-striped text-sm text-gray-700 mb-0" id="ordersDatatable">
                                    <thead>
                                      <tr>
                                        <th data-sortable="" style="width: 60%;"><a href="#"
                                            class="dataTable-sorter">Titolo</a></th>
                                        <th data-sortable="" style="width: 40%;"><a href="#"
                                            class="dataTable-sorter">Data</a>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for appuntamento in trattative[i][25] %}
                                      <tr class="align-middle">
                                        <td>
                                          <div class="d-flex align-items-center">
                                            <div class="pt-1"><strong>{{appuntamento.titolo}}</strong>
                                            </div>
                                          </div>
                                        </td>
                                        <td> <strong>{{appuntamento.dataApp}}</strong></td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                  </table>
                                </div>
                                {%endif%}-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Salva le modifiche</button>
                            <button class="btn btn-danger" onclick="sendData({{trattative[i].idTrattativa}})"
                              type="button" style="float: right;">Elimina</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <!-- Widget Type 9-->
        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="row gx-1">
                <div class="col">
                  <svg class="svg-icon text-red mb-3">
                    <use xlink:href="icons/orion-svg-sprite.71e9f5f2.svg#speed-1"> </use>
                  </svg>
                </div>
                <div class="col text-end">
                  <h4 class="h3 mb-1 text-red">$10,500</h4>
                  <p> <span class="badge badge-success-light"><i class="fas fa-arrow-up me-2"></i>+20.3%</span>
                  </p>
                </div>
              </div>
              <p class="subtitle text-gray-600 mb-1">Vendite</p>
              <div class="progress">
                <div class="progress-bar bg-red" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100" style="width:85%"> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Widget Type 9-->
        <!-- Widget Type 9-->
        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="row gx-1">
                <div class="col">
                  <svg class="svg-icon text-blue mb-3">
                    <use xlink:href="icons/orion-svg-sprite.71e9f5f2.svg#news-1"> </use>
                  </svg>
                </div>
                <div class="col text-end">
                  <h4 class="h3 mb-1 text-blue">584</h4>
                  <p> <span class="badge badge-success-light"><i class="fas fa-arrow-up me-2"></i>+3.3%</span>
                  </p>
                </div>
              </div>
              <p class="subtitle text-gray-600 mb-1">Clienti totali</p>
              <div class="progress">
                <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100" style="width:75%"> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Widget Type 9-->
        <!-- Widget Type 9-->
        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="row gx-1">
                <div class="col">
                  <svg class="svg-icon text-primary mb-3">
                    <use xlink:href="icons/orion-svg-sprite.71e9f5f2.svg#bookmark-1"> </use>
                  </svg>
                </div>
                <div class="col text-end">
                  <h4 class="h3 mb-1 text-primary">876</h4>
                  <p> <span class="badge badge-success-light"><i class="fas fa-arrow-up me-2"></i>+10.5%</span>
                  </p>
                </div>
              </div>
              <p class="subtitle text-gray-600 mb-1">Trattative totali</p>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="67" aria-valuemin="0"
                  aria-valuemax="100" style="width:67%"> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Widget Type 9-->
        <!-- Widget Type 9-->
        <div class="col-sm-6 col-lg-3 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="row gx-1">
                <div class="col">
                  <svg class="svg-icon text-green mb-3">
                    <use xlink:href="icons/orion-svg-sprite.71e9f5f2.svg#world-map-1">
                    </use>
                  </svg>
                </div>
                <div class="col text-end">
                  <h4 class="h3 mb-1 text-green">3,500</h4>
                  <p> <span class="badge badge-danger-light"><i class="fas fa-arrow-down me-2"></i>-5.8%</span>
                  </p>
                </div>
              </div>
              <p class="subtitle text-gray-600 mb-1">Visitors</p>
              <div class="progress">
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="93" aria-valuemin="0"
                  aria-valuemax="100" style="width:93%"> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Widget Type 9-->
      </div>
    </section>
  </div>
  <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center text-md-start fw-bold">
          <p class="mb-2 mb-md-0 fw-bold">Your company © 2023</p>
        </div>
        <div class="col-md-6 text-center text-md-end text-gray-400">
          <p class="mb-0">Version 1.3.2</p>
        </div>
      </div>
    </div>
  </footer>
</div>


<script>
  new DataTable('#ordersDatatable');

  function setCategoria(el) {
    let s = document.getElementById("categoriaOptions");
    let selected = s.options[s.selectedIndex].value;
    document.getElementById("categoriaOffertaITModify").value = selected;
    alert(selected);
  }
</script>

{%endblock%}