{% extends "header.html"%}
{% block title %}Portaglio{% endblock %}
{% block content %}

<style>
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 200px;
  }

  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .hiddenRow {
    padding: 0 !important;
  }
</style>

<div class="row">
  <div class="container px-4 mt-4">
    <div class="row">
      <div class="col-12 col-md-11">
        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" onclick="showUp(this)"
          placeholder="Search for names.." title="Type in a name">
      </div>
      <div class="col-6 col-md-1">
        <form action="/portafoglio/getCliente" method="POST">
          <input type="hidden" name="idPort" value="{{idPort}}">
          <input type="hidden" name="idSearch" id="idSearch">
          <button class="btn btn-danger" type="submit">Cerca</button>
        </form>
      </div>
    </div>

    <ul id="myUL" class="vertical-scrollable">
      {% if clienti %}
      {% for cliente in clienti%}
      <input type="hidden" value="{{cliente.idCliente}}">
      <input type="button" class="dropdown-item" type="button" onclick="getName(this)"
        value='{{cliente.ragioneSociale}}' />
      {% endfor %}
      {%endif%}
    </ul>
  </div>
</div>
<script>

  function showUp(el) {
    el.value = "";
    document.getElementById("myUL").style.display = "block";
  }

  function myFunction() {
    var input, filter, ul, li, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    input = ul.getElementsByTagName("input");
    for (i = 0; i < input.length; i++) {

      txtValue = input[i].value;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        input[i].style.display = "";
      } else {
        input[i].style.display = "none";
      }
    }
  }

  function getName(el) {
    document.getElementById("idSearch").value = el.previousElementSibling.value;
    document.getElementById("myInput").value = el.value;
    document.getElementById("myUL").style.display = "none";
  }



</script>

{% if current_cliente %}

<!-- Prima era container-xl-->
<div class="row">
  <div class="container px-4 mt-4" id="modifica">
    <h1 class="page-header text-center">{{current_cliente[5]}}</h1>
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/portafoglio/modifyCliente" method="POST">
          <input type="hidden" name="idCliente" id="idCliente" value="{{current_cliente[0]}}">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername">Ragione Sociale</label>
            <input class="form-control" name="ragioneSociale" id="inputUsername" type="text"
              placeholder="Enter your username" value="{{current_cliente[5]}}">
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">Cf</label>
              <input class="form-control" name="cf" id="inputFirstName" type="text" placeholder="Enter your first name"
                value="{{current_cliente[4]}}">
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Presidio</label>
              <input class="form-control" name="presidio" id="inputLastName" type="text"
                placeholder="Enter your last name" value="{% if current_cliente[6]%}{{current_cliente[6]}}  {% endif%}">
            </div>
          </div>
          <!-- Form Row        -->
          <div class="row gx-3 mb-3">
            <!-- Form Group (organization name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputOrgName">Indirizzo</label>
              <input class="form-control" name="indirizzo" id="inputOrgName" type="text"
                placeholder="Enter your organization name" value="{{current_cliente[7]}}">
            </div>
            <!-- Form Group (location)-->
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">CAP</label>
              <input class="form-control" name="capPrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="{{current_cliente[9]}}">
            </div>
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">Comune</label>
              <input class="form-control" name="comunePrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="{{current_cliente[10]}}">
            </div>
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Numero sedi</label>
              <input class="form-control" name="sediTot" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="{{current_cliente[12]}}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero dipendenti</label>
              <input class="form-control" name="dipendenti" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[20]}}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero linee totali</label>
              <input class="form-control" name="nLineeTot" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[13]}}">
            </div>

          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fisso</label>
              <input class="form-control" name="fisso" id="inputPhone" type="tel" placeholder="Enter your phone number"
                value="{{current_cliente[14]}}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Mobile</label>
              <input class="form-control" name="mobile" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[15]}}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Totale</label>
              <input class="form-control" name="totale" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[16]}}">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fatturato Cerved</label>
              <input class="form-control" name="fatturatoCerved" id="inputPhone" type="tel"
                placeholder="Enter your phone number"
                value="{% if current_cliente[17]%}{{current_cliente[17]}} {%else%}0.0{% endif%}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Fatturato TIM</label>
              <input class="form-control" name="fatturatoTim" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday"
                value="{% if current_cliente[19]%}{{current_cliente[19]}} {%else%}0.0{% endif%}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">clienteOffMobScadenza</label>
              <input class="form-control" name="clienteOffMobScadenza" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday"
                value="{% if current_cliente[18]%}{{current_cliente[18]}} {%else%}0.0{% endif%}">
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Salva le modifiche</button>
          <button class="btn btn-primary" type="button" style="float: right;" id="btnCrea">Aggiungi cliente</button>
        </form>
      </div>
    </div>


  </div>
  <div class="container px-4 mt-4" id="crea" style="display: none;">
    <h1 class="page-header text-center" id="h1RagioneSociale"></h1>
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/portafoglio/add" method="POST">
          <input type="hidden" name="idCliente" id="idCliente" value="">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername">Ragione Sociale</label>
            <input class="form-control" name="ragioneSociale" id="inputUsernameAdd" type="text"
              placeholder="Enter your username" value="" onkeyup="changeText(this)">
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">Cf</label>
              <input class="form-control" name="cf" id="inputFirstName" type="text" placeholder="Enter your first name"
                value="">
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Presidio</label>
              <input class="form-control" name="presidio" id="inputLastName" type="text"
                placeholder="Enter your last name" value="">
            </div>
          </div>
          <!-- Form Row        -->
          <div class="row gx-3 mb-3">
            <!-- Form Group (organization name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputOrgName">Indirizzo</label>
              <input class="form-control" name="indirizzo" id="inputOrgName" type="text"
                placeholder="Enter your organization name" value="">
            </div>
            <!-- Form Group (location)-->
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">CAP</label>
              <input class="form-control" name="capPrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="">
            </div>
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">Comune</label>
              <input class="form-control" name="comunePrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="">
            </div>
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Numero sedi</label>
              <input class="form-control" name="sediTot" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero dipendenti</label>
              <input class="form-control" name="dipendenti" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero linee totali</label>
              <input class="form-control" name="nLineeTot" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>

          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fisso</label>
              <input class="form-control" name="fisso" id="inputPhone" type="tel" placeholder="Enter your phone number"
                value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Mobile</label>
              <input class="form-control" name="mobile" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Totale</label>
              <input class="form-control" name="totale" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fatturato Cerved</label>
              <input class="form-control" name="fatturatoCerved" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Fatturato TIM</label>
              <input class="form-control" name="fatturatoTim" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">clienteOffMobScadenza</label>
              <input class="form-control" name="clienteOffMobScadenza" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Aggiungi cliente</button>

        </form>
      </div>
    </div>


  </div>
</div>
{%endif%}

{% if trattative%}
<div class="row">

  <div class="container px-4 mt-4">
    <h1 class="page-header text-center"> Trattative</h1>
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Andamento</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>

        {% for i in range (0, t_len) %}
        <tr data-bs-toggle="collapse" data-bs-target="#demo{{i}}" class="accordion-toggle">
          <td>{{trattative[i].nomeOpportunita}}</td>
          <td>{{trattative[i].fase}}</td>
          <td>{{trattative[i].dataChiusura}}</td>
        </tr>
        <tr>
          <td colspan="6" class="hiddenRow">
            <div class="accordian-body collapse" id="demo{{i}}">
              <div class="container px-4 mt-4" id="modifica">
                <h1 class="page-header text-center">{{trattative[i].nomeOpportunita}}</h1>
                <!-- Account details card-->
                <div class="card mb-4">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <form action="/portafoglio/modifyTrattativa" method="POST">
                      <input type="hidden" name="idCliente" id="idCliente" value="{{current_cliente[0]}}">
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Ragione Sociale</label>
                        <input class="form-control" name="ragioneSociale" id="inputUsername" type="text"
                          placeholder="Enter your username" value="{{trattative[i].codiceCtrDigitali}}">
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputFirstName">Cf</label>
                          <input class="form-control" name="cf" id="inputFirstName" type="text"
                            placeholder="Enter your first name" value="{{trattative[i].codiceSalesHub}}">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputLastName">Presidio</label>
                          <input class="form-control" name="presidio" id="inputLastName" type="text"
                            placeholder="Enter your last name" value="{{trattative[i].zona}}">
                        </div>
                      </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (organization name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputOrgName">Indirizzo</label>
                          <input class="form-control" name="indirizzo" id="inputOrgName" type="text"
                            placeholder="Enter your organization name" value="{{trattative[i].tipo}}">
                        </div>
                        <!-- Form Group (location)-->
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputLocation">CAP</label>
                          <input class="form-control" name="capPrincipale" id="inputLocation" type="date"
                            placeholder="Enter your location" value="{{trattative[i].dataCreazioneOpportunita}}">
                        </div>
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputLocation">Comune</label>
                          <input class="form-control" name="comunePrincipale" id="inputLocation" type="text"
                            placeholder="Enter your location" value="{{trattative[i].fix}}">
                        </div>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">Numero sedi</label>
                          <input class="form-control" name="sediTot" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i].mobile}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">Numero dipendenti</label>
                          <input class="form-control" name="dipendenti" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i].categoriaOffertaIT}}">
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">Numero linee totali</label>
                          <input class="form-control" name="nLineeTot" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i].it}}">
                        </div>

                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">Fisso</label>
                          <input class="form-control" name="fisso" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i].lineeFoniaFix}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">Mobile</label>
                          <input class="form-control" name="mobile" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i].aom}}">
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">Totale</label>
                          <input class="form-control" name="totale" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i].mnp}}">
                        </div>
                      </div>
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">Fatturato Cerved</label>
                          <input class="form-control" name="fatturatoCerved" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i].al}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">Fatturato TIM</label>
                          <input class="form-control" name="fatturatoTim" id="inputBirthday" type="date" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i].dataChiusura}}">
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">clienteOffMobScadenza</label>
                          <input class="form-control" name="clienteOffMobScadenza" id="inputBirthday" type="text"
                            name="birthday" placeholder="Enter your birthday" value="{{trattative[i].noteSpecialista}}">
                        </div>
                      </div>
                      <!-- Save changes button-->
                      <button class="btn btn-primary" type="submit">Salva le modifiche</button>

                    </form>
                  </div>
                </div>


              </div>
              {{trattative[i].categoriaOffertaIT}},{{trattative[i].dataChiusura}}, {{trattative[i].fase}},
              {{trattative[i].probabilita}}
            </div>
          </td>
        </tr>

        {% endfor %}



      </tbody>
    </table>
  </div>
</div>
{%else%}
<div class="row">

  <div class="container px-4 mt-4">
    <h1 class="page-header text-center"> Trattative</h1>
    <p>Qui è un po' vuoto, vuoi aggiungere delle trattative?</p>
    <form action="/portafoglio/addTrattativa" method="post" enctype="multipart/form-data">
      <div id="dropContainer" style="border:1px solid black;height:100px;">
        Drop Here
      </div>
      Should update here:
      <input type="file" name="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      <input type="submit" value="Upload">
    </form>
  </div>
</div>

{%endif%}
<script>
  function changeText(el) {
    document.getElementById("h1RagioneSociale").innerText = el.value;
  }

  document.getElementById("btnCrea").addEventListener("click", function () {
    document.getElementById("modifica").style.display = "None";
    document.getElementById("crea").style.display = "block";
  });

</script>








<!--<script>
    dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
  evt.preventDefault();
};

dropContainer.ondrop = function(evt) {
  // pretty simple -- but not for IE :(
  fileInput.files = evt.dataTransfer.files;

  // If you want to use some of the dropped files
  const dT = new DataTransfer();
  dT.items.add(evt.dataTransfer.files[0]);
  dT.items.add(evt.dataTransfer.files[3]);
  fileInput.files = dT.files;

  evt.preventDefault();
};
   </script>-->



{% endblock %}