{% extends "header.html"%}
{% block title %}Portafoglio{% endblock %}
{% block content %}

<style>
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 200px;
  }

  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .hiddenRow {
    padding: 0 !important;
  }
</style>

<div class="row">
  <div class="container px-4 mt-4">
    <div class="row">
      <div class="col-12 col-md-11">
        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" onclick="showUp(this)"
          placeholder="Search for names.." title="Type in a name" value="{{current_cliente[5]}}">
      </div>
      <div class="col-6 col-md-1">
        <form action="/portafoglio/getCliente" method="POST">
          <input type="hidden" name="idPort" value="{{idPort}}">
          <input type="hidden" name="idSearch" id="idSearch">
          <button class="btn btn-danger" type="submit">Cerca</button>
        </form>
      </div>
    </div>

    <ul id="myUL" class="vertical-scrollable">
      {% if clienti %}
      {% for cliente in clienti%}
      <input type="hidden" value="{{cliente.idCliente}}">
      <input type="button" class="dropdown-item" type="button" onclick="getName(this)"
        value='{{cliente.ragioneSociale}}' />
      {% endfor %}
      {%endif%}
    </ul>
  </div>
</div>
<script>

  function showUp(el) {
    el.value = "";
    document.getElementById("myUL").style.display = "block";
  }

  function myFunction() {
    var input, filter, ul, li, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    input = ul.getElementsByTagName("input");
    for (i = 0; i < input.length; i++) {

      txtValue = input[i].value;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        input[i].style.display = "";
      } else {
        input[i].style.display = "none";
      }
    }
  }

  function getName(el) {
    console.log(el);
    console.log(el.previousElementSibling);
    document.getElementById("idSearch").value = el.previousElementSibling.value;
    document.getElementById("myInput").value = el.value;
    document.getElementById("myUL").style.display = "none";
  }

  console.log(document.getElementById("myInput").value);
  if (document.getElementById("myInput").value === "") {
    document.getElementById("myUL").style.display = "block";
  } else {
    document.getElementById("myUL").style.display = "none";
  }

</script>

{% if current_cliente %}

<!-- Prima era container-xl-->
<div class="row">
  <div class="container px-4 mt-4" id="modifica">
    <h1 class="page-header text-center">{{current_cliente[5]}}</h1>
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/portafoglio/modifyCliente" method="POST">
          <input type="hidden" name="idCliente" id="idCliente" value="{{current_cliente[0]}}">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername">Ragione Sociale</label>
            <input class="form-control" name="ragioneSociale" id="inputUsername" type="text"
              placeholder="Enter your username" value="{{current_cliente[5]}}">
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">Cf</label>
              <input class="form-control" name="cf" id="inputFirstName" type="text" placeholder="Enter your first name"
                value="{{current_cliente[4]}}">
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Presidio</label>
              <input class="form-control" name="presidio" id="inputLastName" type="text"
                placeholder="Enter your last name" value="{% if current_cliente[6]%}{{current_cliente[6]}}  {% endif%}">
            </div>
          </div>
          <!-- Form Row        -->
          <div class="row gx-3 mb-3">
            <!-- Form Group (organization name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputOrgName">Indirizzo</label>
              <input class="form-control" name="indirizzo" id="inputOrgName" type="text"
                placeholder="Enter your organization name" value="{{current_cliente[7]}}">
            </div>
            <!-- Form Group (location)-->
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">CAP</label>
              <input class="form-control" name="capPrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="{{current_cliente[9]}}">
            </div>
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">Comune</label>
              <input class="form-control" name="comunePrincipale" id="inputLocation" type="text"
                placeholder="Enter your location" value="{{current_cliente[10]}}">
            </div>
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Numero sedi</label>
              <input class="form-control" name="sediTot" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="{{current_cliente[12]}}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero dipendenti</label>
              <input class="form-control" name="dipendenti" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[20]}}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero linee totali</label>
              <input class="form-control" name="nLineeTot" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[13]}}">
            </div>

          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fisso</label>
              <input class="form-control" name="fisso" id="inputPhone" type="tel" placeholder="Enter your phone number"
                value="{{current_cliente[14]}}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Mobile</label>
              <input class="form-control" name="mobile" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[15]}}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Totale</label>
              <input class="form-control" name="totale" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="{{current_cliente[16]}}">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fatturato Cerved</label>
              <input class="form-control" name="fatturatoCerved" id="inputPhone" type="tel"
                placeholder="Enter your phone number"
                value="{% if current_cliente[17]%}{{current_cliente[17]}} {%else%}0.0{% endif%}">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Fatturato TIM</label>
              <input class="form-control" name="fatturatoTim" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday"
                value="{% if current_cliente[19]%}{{current_cliente[19]}} {%else%}0.0{% endif%}">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">clienteOffMobScadenza</label>
              <input class="form-control" name="clienteOffMobScadenza" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday"
                value="{% if current_cliente[18]%}{{current_cliente[18]}} {%else%}0.0{% endif%}">
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Salva le modifiche</button>
          <button class="btn btn-primary" type="button" style="float: right;" id="btnCrea">Aggiungi cliente</button>
        </form>
      </div>
    </div>


  </div>
  <div class="container px-4 mt-4" id="crea" style="display: none;">
    <h1 class="page-header text-center" id="h1RagioneSociale"></h1>
    <!-- Account details card-->
    <div class="card mb-4">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/portafoglio/add" method="POST">
          <input type="hidden" name="idCliente" id="idCliente" value="">
          <input type="hidden" name="idPort" value="{{idPort}}">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername">Ragione Sociale</label>
            <input class="form-control" name="ragioneSociale" id="inputUsernameAdd" type="text" placeholder="" value=""
              onkeyup="changeText(this)">
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">Cf</label>
              <input class="form-control" name="cf" id="inputFirstName" type="text" placeholder="" value="">
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">Presidio</label>
              <input class="form-control" name="presidio" id="inputLastName" type="text" placeholder="" value="">
            </div>
          </div>
          <!-- Form Row        -->
          <div class="row gx-3 mb-3">
            <!-- Form Group (organization name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputOrgName">Indirizzo</label>
              <input class="form-control" name="indirizzo" id="inputOrgName" type="text" placeholder="" value="">
            </div>
            <!-- Form Group (location)-->
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">CAP</label>
              <input class="form-control" name="capPrincipale" id="inputLocation" type="text" placeholder="" value="">
            </div>
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">Comune</label>
              <input class="form-control" name="comunePrincipale" id="inputLocation" type="text" placeholder=""
                value="">
            </div>
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Numero sedi</label>
              <input class="form-control" name="sediTot" id="inputPhone" type="tel" placeholder="" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero dipendenti</label>
              <input class="form-control" name="dipendenti" id="inputBirthday" type="text" name="birthday"
                placeholder="" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Numero linee totali</label>
              <input class="form-control" name="nLineeTot" id="inputBirthday" type="text" name="birthday" placeholder=""
                value="">
            </div>

          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fisso</label>
              <input class="form-control" name="fisso" id="inputPhone" type="tel" placeholder="" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Mobile</label>
              <input class="form-control" name="mobile" id="inputBirthday" type="text" name="birthday" placeholder=""
                value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Totale</label>
              <input class="form-control" name="totale" id="inputBirthday" type="text" name="birthday" placeholder=""
                value="">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">Fatturato Cerved</label>
              <input class="form-control" name="fatturatoCerved" id="inputPhone" type="tel" placeholder="" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">Fatturato TIM</label>
              <input class="form-control" name="fatturatoTim" id="inputBirthday" type="text" name="birthday"
                placeholder="" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">clienteOffMobScadenza</label>
              <input class="form-control" name="clienteOffMobScadenza" id="inputBirthday" type="text" name="birthday"
                placeholder="" value="">
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Aggiungi cliente</button>

        </form>
      </div>
    </div>


  </div>
</div>
{%endif%}

{% if trattative%}
<div class="row">

  <div class="container px-4 mt-4">
    <h1 class="page-header text-center"> Trattative</h1>
    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Andamento</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>

        {% for i in range (0, t_len) %}
        <tr data-bs-toggle="collapse" data-bs-target="#demo{{i}}" class="accordion-toggle">
          <td>{{trattative[i][8]}}</td>
          <td>{{trattative[i][19]}}</td>
          <td>{{trattative[i][18]}}</td>
        </tr>
        <tr>
          <td colspan="6" class="hiddenRow">
            <div class="accordian-body collapse" id="demo{{i}}">
              <div class="container px-4 mt-4" id="modifica">
                <h1 class="page-header text-center">{{trattative[i][8]}}</h1>
                <!-- Account details card-->
                <div class="card mb-4">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <form action="/portafoglio/modifyTrattativa/{{trattative[i].idTrattativa}}" method="POST">
                      <input type="hidden" name="idClienteModify" id="idCliente" value="{{current_cliente[0]}}">
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">codiceCtrDigitali</label>
                        <input class="form-control" name="codiceCtrDigitaliModify" id="inputUsername" type="text"
                          placeholder="Enter your username" value="{{trattative[i][3]}}">
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputFirstName">codiceSalesHub</label>
                          <input class="form-control" name="codiceSalesHubModify" id="inputFirstName" type="text"
                            placeholder="Enter your first name" value="{{trattative[i][4]}}">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputLastName">zona</label>
                          <input class="form-control" name="zonaModify" id="inputLastName" type="text"
                            placeholder="Enter your last name" value="{{trattative[i][6]}}">
                        </div>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputFirstName">areaManager</label>
                          <input class="form-control" name="areaManagerModify" id="inputFirstName" type="text"
                            placeholder="Enter your first name" value="{{trattative[i][5]}}">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputLastName">nomeOpportunita</label>
                          <input class="form-control" name="nomeOpportunitaModify" id="inputLastName" type="text"
                            placeholder="Enter your last name" value="{{trattative[i][8]}}">
                        </div>
                      </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (organization name)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="inputOrgName">tipo</label>
                          <input class="form-control" name="tipoModify" id="inputOrgName" type="text"
                            placeholder="Enter your organization name" value="{{trattative[i][7]}}">
                        </div>
                        <!-- Form Group (location)-->
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputLocation">dataCreazioneOpportunita</label>
                          <input class="form-control" name="dataCreazioneOpportunitaModify" id="inputLocation"
                            type="date" placeholder="Enter your location" value="{{trattative[i][9]}}">
                        </div>
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputLocation">fix</label>
                          <input class="form-control" name="fixModify" id="inputLocation" type="text"
                            placeholder="Enter your location" value="{{trattative[i][10]}}">
                        </div>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">mobile</label>
                          <input class="form-control" name="mobileModify" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i][11]}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">categoriaOffertaIT</label>
                          <!--<input class="form-control" name="categoriaOffertaITModify" id="inputBirthday" type="text"
                            name="birthday" placeholder="Enter your birthday"
                            value="{{trattative[i][12]}}">-->
                            <option value="{% if trattative[i][12] %} {{trattative[i][12]}} {%endif%}"selected>{% if trattative[i][12] %} {{trattative[i][12]}}{%endif%}</option>
                            <select class="form-select" aria-label="Default select example">
                            {% for c in categorie %}
                            <option value="{{c.idCategoria}}">{{c.nome}}</option>
                            {% endfor %}

                          </select>
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">it</label>
                          <input class="form-control" name="itModify" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i][13]}}">
                        </div>

                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">lineeFoniaFixModify</label>
                          <input class="form-control" name="lineeFoniaFixModify" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i][14]}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">aom</label>
                          <input class="form-control" name="aomModify" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i][15]}}">
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">mnp</label>
                          <input class="form-control" name="mnpModify" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i][16]}}">
                        </div>
                      </div>
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputPhone">al</label>
                          <input class="form-control" name="alModify" id="inputPhone" type="tel"
                            placeholder="Enter your phone number" value="{{trattative[i][17]}}">
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">dataChiusura</label>
                          <input class="form-control" name="dataChiusuraModify" id="inputBirthday" type="date"
                            name="birthday" placeholder="Enter your birthday" value="{{trattative[i][18]}}">
                        </div>
                        <div class="col-md-4">
                          <label class="small mb-1" for="inputBirthday">noteSpecialista</label>
                          <input class="form-control" name="noteSpecialistaModify" id="inputBirthday" type="text"
                            name="birthday" placeholder="Enter your birthday" value="{{trattative[i][20]}}">
                        </div>
                      </div>
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputPhone">fase</label>
                          <select class="form-select" aria-label="Default select example">
                            <option value="{% if trattative[i][19] %} {{trattative[i][19]}} {%endif%}"selected>{% if trattative[i][19] %} {{trattative[i][19]}}{%endif%}</option>
                            {% for a in andamento %}
                           
                            <option value="{{a.idAndamento}}">{{a.nome}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputBirthday">probabilita</label>
                          <input class="form-control" name="probabilitaModify" id="inputBirthday" type="text"
                            name="birthday" placeholder="Enter your birthday" value="{{trattative[i][21]}}%">
                        </div>
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputBirthday">inPaf</label>
                          <input class="form-control" name="inPafModify" id="inputBirthday" type="text" name="birthday"
                            placeholder="Enter your birthday" value="{{trattative[i][22]}}">
                        </div>
                        <div class="col-md-3">
                          <label class="small mb-1" for="inputBirthday">fornitore</label>
                          <input class="form-control" name="fornitoreModify" id="inputBirthday" type="text"
                            name="birthday" placeholder="Enter your birthday" value="{{trattative[i][24]}}">
                        </div>
                      </div>
                      {%if trattative[i][25] %}
                      {% for appuntamento in trattative[i][25] %}
                      <p>{{appuntamento[0]}}</p>
                      {%endfor%}
                      {%endif%}
                      <!-- Save changes button-->
                      <button class="btn btn-primary" type="submit">Salva le modifiche</button>
                      <button class="btn btn-danger" onclick="sendData({{trattative[i].idTrattativa}})" type="button"
                        style="float: right;">CIao</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary" type="button" id="btnTrattativa" onclick="showTrattativa(this)">Aggiungi
      trattativa</button>
    <div class="card mb-4" id="formTrattativa" style="display: none;">
      <div class="card-header"></div>
      <div class="card-body">
        <form action="/portafoglio/addTrattativaForm" method="POST">
          <input type="hidden" name="idClienteAdd" id="idCliente" value="{{current_cliente[0]}}">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="inputUsername">codiceCtrDigitali</label>
            <input class="form-control" name="codiceCtrDigitaliAdd" id="inputUsername" type="text"
              placeholder="Enter your username" value="">
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (first name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputFirstName">codiceSalesHub</label>
              <input class="form-control" name="codiceSalesHubAdd" id="inputFirstName" type="text"
                placeholder="Enter your first name" value="">
            </div>
            <!-- Form Group (last name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputLastName">areaManager</label>
              <input class="form-control" name="areaManagerAdd" id="inputLastName" type="text"
                placeholder="Enter your last name" value="">
            </div>
          </div>
          <!-- Form Row        -->
          <div class="row gx-3 mb-3">
            <!-- Form Group (organization name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="inputOrgName">zona</label>
              <input class="form-control" name="zonaAdd" id="inputOrgName" type="text"
                placeholder="Enter your organization name" value="">
            </div>
            <!-- Form Group (location)-->
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">tipo</label>
              <input class="form-control" name="tipoAdd" id="inputLocation" type="text"
                placeholder="Enter your location" value="">
            </div>
            <div class="col-md-3">
              <label class="small mb-1" for="inputLocation">nomeOpportunita</label>
              <input class="form-control" name="nomeOpportunitaAdd" id="inputLocation" type="text"
                placeholder="Enter your location" value="">
            </div>
          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">dataCreazioneOpportunita</label>
              <input class="form-control" name="dataCreazioneOpportunitaAdd" id="inputPhone" type="date"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">fix</label>
              <input class="form-control" name="fixAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">mobile</label>
              <input class="form-control" name="mobileAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>

          </div>
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">categoriaOffertaIT</label>
              <input class="form-control" name="categoriaOffertaITAdd" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">it</label>
              <input class="form-control" name="itAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">lineeFoniaFix</label>
              <input class="form-control" name="lineeFoniaFixAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">aom</label>
              <input class="form-control" name="aomAdd" id="inputPhone" type="tel" placeholder="Enter your phone number"
                value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">mnp</label>
              <input class="form-control" name="mnpAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">al</label>
              <input class="form-control" name="alAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">dataChiusura</label>
              <input class="form-control" name="dataChiusuraAdd" id="inputPhone" type="date"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">fase</label>
              <input class="form-control" name="faseAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">noteSpecialista</label>
              <input class="form-control" name="noteSpecialistaAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <!-- Form Group (phone number)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputPhone">probabilita</label>
              <input class="form-control" name="probabilitaAdd" id="inputPhone" type="tel"
                placeholder="Enter your phone number" value="">
            </div>
            <!-- Form Group (birthday)-->
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">inPaf</label>
              <input class="form-control" name="inPafAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
            <div class="col-md-4">
              <label class="small mb-1" for="inputBirthday">fornitore</label>
              <input class="form-control" name="fornitoreAdd" id="inputBirthday" type="text" name="birthday"
                placeholder="Enter your birthday" value="">
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit" style="float: left;" id="btnCreaTrattativa">Aggiungi
            trattativa</button>
          <button class="btn btn-primary" type="button" style="float: right;" id="btnAnnullaTrattativa"
            onclick="hideTrattativa()">Annulla</button>

        </form>
      </div>
    </div>
  </div>
</div>
{%else%}
<div class="row">

  <div class="container px-4 mt-4">
    <h1 class="page-header text-center"> Trattative</h1>
    <p>Qui è un po' vuoto, vuoi aggiungere delle trattative?</p>
    <form action="/portafoglio/addTrattativa" method="post" enctype="multipart/form-data">
      <div id="dropContainer" style="border:1px solid black;height:100px;">
        Drop Here
      </div>
      Should update here:
      <input type="hidden" name="addTrattativaIdCliente" value="{{current_cliente[0]}}">
      <input type="file" name="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      <input type="submit" value="Upload">
    </form>

  </div>
</div>
<a href="{{ url_for('.getExcel', id=idPort)}}">Scarica il file excel </a>
<a href="{{ url_for('.getExcelTrattative', id=idPort)}}">Scarica le trattative aggiornate </a>
{%endif%}
<script>
  function sendData(val) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/portafoglio/remove/' + val, true);
    xhr.send();
    location.reload();
  }

  function hideTrattativa() {
    document.getElementById("formTrattativa").style.display = "none";
    document.getElementById("btnTrattativa").style.display = "block";
  }

  function showTrattativa(el) {
    el.style.display = "none";
    document.getElementById("formTrattativa").style.display = "block";
  }

  function changeText(el) {
    document.getElementById("h1RagioneSociale").innerText = el.value;
  }

  document.getElementById("btnCrea").addEventListener("click", function () {
    document.getElementById("modifica").style.display = "None";
    document.getElementById("crea").style.display = "block";
  });

</script>








<!--<script>
    dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
  evt.preventDefault();
};

dropContainer.ondrop = function(evt) {
  // pretty simple -- but not for IE :(
  fileInput.files = evt.dataTransfer.files;

  // If you want to use some of the dropped files
  const dT = new DataTransfer();
  dT.items.add(evt.dataTransfer.files[0]);
  dT.items.add(evt.dataTransfer.files[3]);
  fileInput.files = dT.files;

  evt.preventDefault();
};
   </script>-->



{% endblock %}